[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/vundle.git
[submodule ".fonts/powerline-fonts"]
	path = .fonts/powerline-fonts
	url = http://github.com/Lokaltog/powerline-fonts.git
