[submodule ".fonts/powerline-fonts"]
	path = powerline-fonts
	url = http://github.com/powerline/fonts.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/vundle.git
